/* All pages */
body
{
    text-align: center;
    /* background-color: #add8e6; */
    background-color: lightgray;
}
.flash-success
{
    color: green;
    font-weight: bold;
    padding: 5px;
}
.flash-error
{
    color: red;
    font-weight: bold;
    padding: 5px;
}
/* Navigation */
#top-left-corner
{
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
}
#top-bar
{
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
}
#side-bar
{
    position: fixed;
    width: 200px;
    height:auto;
    left: 0;
}

/* Index page */
#index-body a
{
    font-size: 24px;
}

/* Registration page */
.registration-form
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.registration-form div
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.registration-form input
{
    border-radius: 20px;
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}