/* All pages */
body
{
    text-align: center;
    /* background-color: #add8e6; */
    background-color: whitesmoke;
}

/* Flash Messages */
.flash-success
{
    color: green;
    font-weight: bold;
    padding: 5px;
}
.flash-error
{
    color: red;
    font-weight: bold;
    padding: 5px;
}

/* Sortable table elements */
.sortable-table
{
    background-color: white;
}
.sortable-table th
{
    text-align: center;
}
.sortable-table th a
{
    font-size: inherit;
    color: black;
    text-decoration-line: none;
}
.sortable-table th a:hover
{
    color: black;
    text-decoration-line: underline;
}
.sortable-table th a:active
{
    color: black;
    text-decoration-line: underline;
}

/* Pagination for tables */
.pagination
{
    text-align: center;
    font-size: 24px;
}

/* Navigation and Layout */
#top-bar
{
    background: lightgray;
    position: fixed;
    z-index: 10;
    width: calc(100% - 150px);
    height: 60px;
    top: 0;
    right: 0;
    text-align: left;
    padding-left: 10px;
}
#top-bar img
{
    height: inherit;
    z-index: 11;
}
#top-left-corner
{
    background-color: whitesmoke;
    position: fixed;
    z-index: 15;
    width: 150px;
    height: 60px;
    top: 0;
    left: 0;
}
#top-left-corner img
{
    height: inherit;
    z-index: 16;
}
#side-bar
{
    background-color: lightgray;
    position: fixed;
    z-index: 5;
    width: 150px;
    height: calc(100% - 60px);
    left: 0;
    bottom: 0;
}
#side-bar ul
{
    width: inherit;
    text-align: left;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 10px;
}
#side-bar ul li
{
    width: inherit;
    padding-bottom: 10px;
}
#side-bar ul li a
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#side-bar ul li a:hover
{
    color: black;
    text-decoration: underline;
}
#side-bar ul li a.active
{
    color: black;
    text-decoration: underline;
}
#content
{
    position: relative;
    width: calc(100% - 150px);
    left: 150px;
    top: 100px;
}


/* Index page */
#login
{
    font-size: 24;
}
#registration
{
    font-size: 24;
}

/* Login page */
.login-form
{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 80%;
    height: 500px;
    background-color: white;
    padding-top: 70px;
    margin-top: 15%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}
.login-form div
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.login-form #submit
{
    background-color: #8ff5d9;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    text-align: center;
    font-size: 24pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.login-form input
{
    text-align: left;
    width: px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    background-color: #f8f6f6;
}
.login-form table
{
    width: 200px;
}
.login-form table th
{
    text-align: center;
}

#login-module
{
    background-color: white;
}


#login-left-panel.col-xs-5
{
    background-color: white;
    padding-bottom: 25%;
    margin-bottom: -25%;
    height: 100vh;
}

#login-container.container
{   
    padding: 0%;
    margin: 0%;
    height: 100%;
}

#logo-img
{
    padding-top: 50%;
}

.login-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
.login-form h1 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.login-form label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Registration page */
#registration-container .container
{
    padding: 0%;
    margin: 0%;
    min-height: 100vh;
}

#registration-header
{
    background-color: white;
    min-height: 8vh;
}
#registration-footer
{
    background-color: white;
    min-height: 8vh;
}

#registration-content-logo
{
    height: 84vh;
    background-color: white;
}
#registration-content-logo img
{
    margin-top: 25%;

}
#registration-content-form
{
    height: 84vh;
    background-color: #e3e7e8;
}

.registration-form
{
    background: white;
    margin-top: 30px;
    padding: 10px;
    padding-left:30px;
    padding-right: 30px;
    margin-left: 10%;
    margin-right: 3%;
}

.registration-form div
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.registration-form input
{
    text-align: center;
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}

.registration-form table
{
    width: 100%;
}
.registration-form table th
{
    text-align: center;
}
input#bday
{
    width: 0.3fr;
    border-right-style: solid;
}
input#bmonth
{
    width: 0.3fr;
    border-right-style: solid;
}
input#byear
{
    width: 0.4fr;
}

.registration-form input
 {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: left;
    width: px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    background-color: #f8f6f6;
  }
  .registration-form select
 {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: left;
    width: px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    background-color: #f8f6f6;
  }
.registration-form h1
 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.registration-form label 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.registration-form #submit{
    width: 70%;
    background-color: #8ff5d9;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    text-align: center;
    font-size: 24pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.registration-form #submit:hover{
    background-color: #86e6cc;
}


/* Share listing and portfolio page */
.share-row:hover
{
    background-color: lightgray;
}

/* Share page */
.share-form
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.share-form div
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.share-form input
{
    text-align: center;
    border-radius: 10px;
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Admin statistics page charts */
#statsistics-body
{
    text-align: center;
}
#gender-pie-chart-container
{
    display: inline-block;
    height: 250px;
    width: 500px;
}
#age-bar-chart-container
{
    display: inline-block;
    height: 250px;
    width: 500px;
}
.wrapper
{
  display:grid;
  grid-template-columns: 70% 30%;
  grid-gap:1em;
}

.wrapper> div
{
  background: lightgrey;
  padding: 1em;
}
.wrapper> div:nth-child(even)
{
  background:#ddd
}

#popover
{
    font-size:12pt;
    color: rgb(187, 123, 4)
}

/* Leaderboard */
#tab-overall, #tab-weekgain, #tab-monthgain
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}