{% extends "admin/layout.html" %}
{% set active_page = "statistics" %}
{% block content %}
<div id="statistics-body" class="container">
    {% include "messageblock.html" %}
    <h2>User Statistics</h2>
    <div>
        <h3>Gender distribution</h3>
        <div id="gender-pie-chart-container">
            <canvas id="gender-pie-chart"></canvas>
        </div>
    </div>
    <div>
        <h3>Age distribution</h3>
        <div id="age-bar-chart-container">
            <canvas id="age-bar-chart"></canvas>
        </div>
    </div>
</div>
{# Chart.js and statistics graphs scripts #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    // Generate gender data for pie chart
    var genderPieChartData = {
        datasets: [{
            data: [
                {{ userstatistics.gendercounts['male'] }},
                {{ userstatistics.gendercounts['female'] }},
                {{ userstatistics.gendercounts['other'] }}
            ],
            backgroundColor: [
                "rgba(0, 0, 255, 1)",
                "rgba(255, 0, 255, 1)",
                "rgba(128, 128, 128)"
            ]
        }],
        labels: [
            'Male',
            'Female',
            'Other'
        ]
    }
    // Generate age data for pie chart
    var ageBarChartData = {
        datasets: [{
            data: [
                {{ userstatistics.agegroupcounts['post-mil'] }},
                {{ userstatistics.agegroupcounts['mil'] }},
                {{ userstatistics.agegroupcounts['gen-x'] }},
                {{ userstatistics.agegroupcounts['baby-boom'] }},
                {{ userstatistics.agegroupcounts['silent-gen'] }},
                {{ userstatistics.agegroupcounts['greatest-gen'] }},
            ],
            backgroundColor: "rgba(0, 0, 255, 1)",
        }],
        labels: [
            '1997+',
            '1981-1996',
            '1965-1980',
            '1946-1965',
            '1928-1945',
            '1900-1927'
        ],
        afterLabels: [
            'Post Millenials',
            'Millennials',
            'Generation X',
            'Baby Boomers',
            'Silent Gen',
            'Greatest Gen and Before'
        ]
    }
    // Age bar chart options
    var ageBarChartOptions = {
        legend: {
            display: false
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem) {
                    return tooltipItem.yLabel;
                },
                afterLabel: function(tooltipItem) {
                    return ageBarChartData['afterLabels'][tooltipItem['index']];
                }
            }
        },
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Age Group'
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Count'
                },
                ticks: {
                    precision: 0
                }
            }]
        }
    }
    // Create charts
    window.onload = function() {
        var ctx = document.getElementById("gender-pie-chart").getContext("2d");
        var genderPieChart = new Chart(ctx, {
            type: 'pie',
            data: genderPieChartData
        });
        var ctx = document.getElementById("age-bar-chart").getContext("2d");
        var ageBarChart = new Chart(ctx, {
            type: 'bar',
            data: ageBarChartData,
            options: ageBarChartOptions
        });
    }
</script>
{% endblock %}