{% extends "adminlayout.html" %}
{% set active_page = "dashboard" %}
{% block content %}
<div id="sharelist-body">
    <h1>All Shares</h1>
    {% include "messageblock.html" %}
    <div class="container">
        <table id="share-table" class="table sortable-table">
            <thead>
                <tr>
                    {# Defnine orderable headings #}
                    {% set headings = [
                        ("User ID", "userID", "asc"),
                        ("Username", "username", "asc"),
                        ("Name", "firstname", "asc"),
                        ("Date of Birth", "dob", "desc"),
                        ("Gender", "gender", "desc"),
                        ("Verified", "verified", "desc")
                    ] -%}
                    {# Get order varaibles from get arguments #}
                    {% set orderby = request.args.get("orderby") %}
                    {% set order = request.args.get("order") %}
                    {# Define symbols to specify ordering #}
                    {% set ascarrow = " ▲" %}
                    {% set descarrow = " ▼" %}
                    {# Display each heading in headings list #}
                    {% for heading, fieldname, defaultorder in headings %}
                    <th>
                        {% if orderby == fieldname and order == "asc" %}
                            {% set fieldorder = "desc" %}
                        {% elif orderby == fieldname and order == "desc" %}
                            {% set fieldorder = "asc" %}
                        {% else %}
                            {% set fieldorder = defaultorder %}
                        {% endif %}
                        <a href="{{ url_for('adminuserlist') }}?orderby={{ fieldname }}&order={{ fieldorder }}">
                            {{ heading }}
                            {{ ascarrow if orderby == fieldname and order == "asc" }}
                            {{ descarrow if orderby == fieldname and order == "desc" }}
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set userlink = url_for('adminuser', userID=user.userID) %}
                <tr class="user-row" onclick="location.href='{{ userlink }}'">
                    <th scope="row">{{ user.userID }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                    <td>{{ user.dob }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.verified }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {# Get the current page #}
            {% if request.args.get('page') %}
                {% set page = request.args.get('page')|int %}
            {% else %}
                {% set page = 1 %}
            {% endif %}
            {# Detremine the base url for each link#}
            {% if orderby and order %}
                {% set baseurl = url_for('adminuserlist')+"?orderby="+orderby+"&order="+order+"&" %}
            {% else %}
                {% set baseurl = url_for('adminuserlist')+"?" %}
            {% endif %}
            {# Calculate max number of pages #}
            {% set maxpagenum = (usercount/countperpage)|round(method="ceil")|int %}
            {# Display left arrows #}
            {% if page > 1 %}
                <a href="{{ baseurl }}page=1">◀◀</a>
                <a href="{{ baseurl }}page={{ page-1 }}">◀</a>
            {% endif %}
            {# Display page numbers #}
            {% for pagenum in range(page-3, page+3) %}
                {% if pagenum >= 1 and pagenum <= maxpagenum %}
                    {% if pagenum != page %}
                        <a href="{{ baseurl }}page={{ pagenum }}">{{ pagenum }}</a>
                    {% else %}
                        <b>{{ page }}</b>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {# Display right arrows #}
            {% if page*countperpage < usercount %}
                <a href="{{  baseurl }}page={{ page+1 }}">▶</a>
                <a href="{{  baseurl }}page={{ maxpagenum }}">▶▶</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}