{% extends "layout.html" %}
{% set active_page = "shares" %}
{% block content %}
<div id="sharelist-body">
    <h1>All Shares</h1>
    {% include "messageblock.html" %}
    <div class="container">
        <table id="sharelist" class="table">
            <thead>
                <tr>
                    {# Defnine orderable headings #}
                    {% set headings = [
                        ("Code", "issuerID", "asc"),
                        ("Company", "abbrevname", "asc"),
                        ("Industry", "industrysector", "asc"),
                        ("Price", "currentprice", "desc"),
                        ("Change %", "daychangepercent", "desc"),
                        ("Change $", "daychangeprice", "desc"),
                        ("Market Cap", "marketcapitalisation", "desc")
                    ] -%}
                    {# Get order varaibles from get arguments #}
                    {% set orderby = request.args.get("orderby") %}
                    {% set order = request.args.get("order") %}
                    {# Define symbols to specify ordering #}
                    {% set ascarrow = " ▲" %}
                    {% set descarrow = " ▼" %}
                    {# Display each heading in headings list #}
                    {% for heading, fieldname, defaultorder in headings %}
                    <th>
                        {% if orderby == fieldname and order == "asc" %}
                            {% set fieldorder = "desc" %}
                        {% elif orderby == fieldname and order == "desc" %}
                            {% set fieldorder = "asc" %}
                        {% else %}
                            {% set fieldorder = defaultorder %}
                        {% endif %}
                        <a href="{{ url_for('sharelist') }}?orderby={{ fieldname }}&order={{ fieldorder }}">
                            {{ heading }}
                            {{ ascarrow if orderby == fieldname and order == "asc" }}
                            {{ descarrow if orderby == fieldname and order == "desc" }}
                        </a>
                    </th>
                    {% endfor %}
                    <th>Price Graph</th>
                </tr>
            </thead>
            <tbody>
            {% for share in shares %}
                {% set sharelink = url_for('share', issuerID=share.issuerID) %}
                <tr class="share-row" onclick="location.href='{{ sharelink }}'">
                    <th scope="row">{{ share.issuerID }}</th>
                    <td>{{ share.abbrevname }}</td>
                    <td>{{ share.industrysector }}</td>
                    <td>{{ share.currentprice }}</td>
                    {% if share.daychangepercent >= 0 %}
                    <td class=text-success>{{share.daychangepercent}}</td>
                    <td class=text-success>{{ share.daychangeprice}}</td>
                    {% else %}
                    <td class=text-danger>{{share.daychangepercent}}</td>
                    <td class=text-danger>{{ share.daychangeprice}}</td>
                    {% endif %}
                    <td>{{share.marketcapitalisation}}</td>
                    <td>GRAPH</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# Get the current page #}
        {% if request.args.get('page') %}
            {% set page = request.args.get('page')|int %}
        {% else %}
            {% set page = 1 %}
        {% endif %}
        {# Detremine the base url for each link#}
        {% if orderby and order %}
            {% set baseurl = url_for('sharelist')+"?orderby="+orderby+"&order="+order+"&" %}
        {% else %}
            {% set baseurl = url_for('sharelist')+"?" %}
        {% endif %}
        {# Calculate max number of pages #}
        {% set maxpagenum = (sharecount/countperpage)|round|int %}
        <div class="pagination">
            {# Display left arrows #}
            {% if page > 1 %}
                <a href="{{ baseurl }}page=1">◀◀</a>
                <a href="{{ baseurl }}page={{ page-1 }}">◀</a>
            {% endif %}
            {# Display page numbers #}
            {% for pagenum in range(page-3, page+3) %}
                {% if pagenum >= 1 and pagenum <= maxpagenum %}
                    {% if pagenum != page %}
                        <a href="{{ baseurl }}page={{ pagenum }}">{{ pagenum }}</a>
                    {% else %}
                        <b>{{ page }}</b>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {# Display right arrows #}
            {% if page*countperpage < sharecount %}
                <a href="{{  baseurl }}page={{ page+1 }}">▶</a>
                <a href="{{  baseurl }}page={{ maxpagenum }}">▶▶</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}