{% extends "layout.html" %}
{% block content %}
<div id="index-body">
    <img src="{{url_for('static', filename='images/tmplogo.png')}}" 
    alt="Budding Investors" height="auto" width="auto" class="reg-logo">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}    
                    <div class="flash-success">{{ message }}</div>
                {% endif %}
                {% if category == "error" %}    
                    <div class="flash-error">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Company</th>
                <th>Industry</th>
                <th>Price</th>
                <th>Change %</th>
                <th>Change $</th>
                <th>Market Cap</th>
                <th>Price Graph</th>
            </tr>
        </thead>
        <tbody>
        {% for share in shares %}
            <tr>
                <th scope="row">{{ share.issuerID }}</th>
                <td>{{ share.abbrevname }}</td>
                <td>{{ share.industrysector }}</td>
                <td>{{ share.currentprice }}</td>
                {% if share.daychangepercent >= 0 %}
                <td class=text-success>{{share.daychangepercent}}</td>
                <td class=text-success>{{ share.daychangeprice}}</td>
                {% else %}
                <td class=text-danger>{{share.daychangepercent}}</td>
                <td class=text-danger>{{ share.daychangeprice}}</td>
                {% endif %}
                <td>{{share.marketcapitalisation}}</td>
                <td>GRAPH</td>
                <td><button id="{{ share.issuerID }}" onclick="CompanyValue(this.id)" type="button" class="btn btn-success" data-toggle="modal" data-target="#buy-modal">Buy</button> </td>
                <td><button type="button" class="btn btn-danger">Sell</button></td>
                
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>




  <!-- Modal -->
  <div class="modal fade" id="buy-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purchase Share</h4>
        </div>
        <div class="modal-body">
            <form action="" method="POST" class="registration-form">
                {{ form.hidden_tag() }}
                <img src="{{url_for('static', filename='images/tmplogo.png')}}" 
                alt="Budding Investors" height="auto" width="auto" class="reg-logo">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "success" %}    
                                <div class="flash-success">{{ message }}</div>
                            {% endif %}
                            {% if category == "error" %}    
                                <div class="flash-error">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div>
                    {{ form.sharecode.label }}
                    <br>
                    {{ form.sharecode() }}
                </div>
                <div>
                    {{ form.quantity.label }}
                    <br>
                    {{ form.quantity() }}
                </div>
                <div>{{ form.submit() }}</div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!--ON CLICK SCRIPT-->
<script type="text/javascript">
    function CompanyValue(clickedId)
    {
        document.getElementById('sharecode').value=clickedId;
    }
</script>

{% endblock %}