<!-- Modal for buying shares -->
<div class="modal fade" id="buy-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="ClearForm('buyform')">&times;</button>
                <h4 class="modal-title">Purchase Shares</h4>
            </div>
            <div class="modal-body">
                <form id="buyform" action="" method="POST">
                    {{ buyform.hidden_tag() }}
                    <img src="{{url_for('static', filename='images/tmplogo.png')}}" 
                    alt="Budding Investors" height="auto" width="auto" class="reg-logo">
                    {% include "messageblock.html" %}
                    <div>
                        {{ buyform.buysharecode.label }}
                        <br>
                        {{ buyform.buysharecode() }}
                    </div>
                    <div>
                        {{ buyform.buyquantity.label }}
                        <br>
                        {{ buyform.buyquantity() }}
                    </div>
                    <div>{{ buyform.buysubmit() }}</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for selling shares -->
<div class="modal fade" id="sell-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="ClearForm('sellform')">&times;</button>
                <h4 class="modal-title">Sell Shares</h4>
            </div>
            <div class="modal-body">
                <form id="sellform" action="" method="POST">
                    {{ sellform.hidden_tag() }}
                    <img src="{{url_for('static', filename='images/tmplogo.png')}}" 
                    alt="Budding Investors" height="auto" width="auto" class="reg-logo">
                    {% include "messageblock.html" %}
                    <div>
                        {{ sellform.sellsharecode.label }}
                        <br>
                        {{ sellform.sellsharecode() }}
                    </div>
                    <div>
                        {{ sellform.sellquantity.label }}
                        <br>
                        {{ sellform.sellquantity() }}
                    </div>
                    <div>{{ sellform.sellsubmit() }}</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
