{% extends "layout.html" %}
{% set active_page = "dashboard" %}
{% block content %}
<div class="wrapper" style="display:grid;
  grid-template-columns: 60% 40%;
  text-align: left;
  margin: 20px;">
    <div>
     <h1>Welcome <strong>{{ user.firstname }}!</strong></h1>
     <h3>You are currently a <strong>Level {{ user.getRating() }} </strong> user, your so close to your next level, keep making smart trades!</h3>
     <h3>Your are currently ranked in spot <strong>{{ current_user_info.ranking }} </strong> on the Budding Traders Leaderboard!</h3> 
    </div>
    <div style="background: #6ce6bf;
  padding: 1em;">   
    </div>
  </div> 
  <div class="wrapper" style="display:grid;
  grid-template-columns: 40% 60%;
   text-align: left;
  margin: 20px;">
    <div style="background: #00ffaa;">
     <h1 style="padding: 5px;">Your Portfolio Value is currently:</h1>
       {% for user in leaderboard %}
          {% if user.userID == current_user_info.userID %}
              <h1 style="font-size: 50px;>${{ user.sharesvalue|round(2) }}</h1>                                       
            {% else %}
          {% endif %}                              
        {% endfor %}     
    </div>
    <div style="background: #6cd5e0;
  padding: 1em;">
      <h1>Tip of the Day</h1>
      <h3 style="font-style: italic;"><strong>{{ tip }}</strong></h3>
    </div>
  </div>         
{% endblock %}