{% set navigation_items = [
    (url_for('main.dashboard'), 'dashboard', 'Dashboard'),
    (url_for('main.sharelist'), 'shares', 'Shares'),
    (url_for('main.portfolio'), 'portfolio', 'Portfolio'),
    (url_for('main.logout'), 'logout', 'Sign Out')
] -%}
{% set active_page = active_page|default(None) -%}
<!DOCTYPE html>
<html>
    <head>
        <title>Budding Investors</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div id="top-left-corner">
            <img src="{{url_for('static', filename='images/user.svg')}}" 
             alt="Placeholder Profile Icon">
             {% if user %}
                {% if user.getStarRating()!=""%}
                <img src="{{ url_for('static', filename=user.getStarRating()) }}"/>
                {% endif %}   
             {% endif %}
        </div>
        <div id="top-bar" style="display: flex;justify-content: space-between;align-items: center;">
            <img src="{{url_for('static', filename='images/tmplogo.png')}}" 
            alt="Budding Investors">
            <div class="money" style="margin-right: 20px;font-size: 30px;">
               <div style="display: flex;justify-content: space-between;align-items: center; background: white;">
                   <p style="margin: 0px 15px;">${{ userbalance }}</p>
                   <i style="color:palevioletred;" class="fa fa-arrow-down" aria-hidden="true"></i>
               </div>
               
            </div>
        </div>
        <div id="side-bar">
            <ul>
                {% for href, id, caption in navigation_items %}
                    <li>
                        <a href="{{ href }}"
                            {% if id == active_page %} class="active" {% endif %}>
                            {{ caption }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
                <div class="window">
                    </div>
                        
                        
        <div class="content">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
    </body>
</html>
