{% extends "layout.html" %}
{% set active_page = "portfolio" %}
{% block content %}
<div id="index-body">
    {% include "messageblock.html" %}
    <div class="container">
        <h2>Your Shares</h2>
        <table id="portfolio-table" class="table sortable-table">
            <thead>
                <tr>
                    {# Defnine orderable headings #}
                    {% set headings = [
                        ("Code", "issuerID", "asc"),
                        ("Price", "currentprice", "desc"),
                        ("Change %", "daychangepercent", "desc"),
                        ("Change $", "daychangeprice", "desc"),
                        ("Quantity", "quantity", "desc"),
                        ("Value", "value", "desc"),
                        ("Profit", "net", "desc")
                    ] -%}
                    {# Get order varaibles from get arguments #}
                    {% set orderby = request.args.get("orderby") %}
                    {% set order = request.args.get("order") %}
                    {# Define symbols to specify ordering #}
                    {% set ascarrow = " ▲" %}
                    {% set descarrow = " ▼" %}
                    {# Display each heading in headings list #}
                    {% for heading, fieldname, defaultorder in headings %}
                    <th>
                        {% if orderby == fieldname and order == "asc" %}
                            {% set fieldorder = "desc" %}
                        {% elif orderby == fieldname and order == "desc" %}
                            {% set fieldorder = "asc" %}
                        {% else %}
                            {% set fieldorder = defaultorder %}
                        {% endif %}
                        <a href="{{ url_for('main.portfolio') }}?orderby={{ fieldname }}&order={{ fieldorder }}">
                            {{ heading }}
                            {{ ascarrow if orderby == fieldname and order == "asc" }}
                            {{ descarrow if orderby == fieldname and order == "desc" }}
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for share in usershares %}
                {% set sharelink = url_for('main.share', issuerID=share.issuerID) %}
                <tr class="table-row" onclick="location.href='{{ sharelink }}'">
                    <th scope="row">{{ share.issuerID }}</th>
                    <td>{{ share.currentprice }}</td>
                    {% if share.daychangepercent >= 0 %}
                    <td class=text-success>{{share.daychangepercent}}</td>
                    <td class=text-success>{{ share.daychangeprice}}</td>
                    {% else %}
                    <td class=text-danger>{{share.daychangepercent}}</td>
                    <td class=text-danger>{{ share.daychangeprice}}</td>
                    {% endif %}
                    <td>{{ share.quantity }}</td>
                    <td>{{ (share.currentprice * share.quantity)|round(4) }}</td>
                    <td>{{ (share.profit - share.loss)|round(4) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {# Get the current page #}
            {% if request.args.get('page') %}
                {% set page = request.args.get('page')|int %}
            {% else %}
                {% set page = 1 %}
            {% endif %}
            {# Detremine the base url for each link#}
            {% if orderby and order %}
                {% set baseurl = url_for('main.portfolio')+"?orderby="+orderby+"&order="+order+"&" %}
            {% else %}
                {% set baseurl = url_for('main.portfolio')+"?" %}
            {% endif %}
            {# Calculate max number of pages #}
            {% set maxpagenum = (sharecount/countperpage)|round(method="ceil")|int %}
            {# Display left arrows #}
            {% if page > 1 %}
                <a href="{{ baseurl }}page=1">◀◀</a>
                <a href="{{ baseurl }}page={{ page-1 }}">◀</a>
            {% endif %}
            {# Display page numbers #}
            {% for pagenum in range(page-3, page+3) %}
                {% if pagenum >= 1 and pagenum <= maxpagenum %}
                    {% if pagenum != page %}
                        <a href="{{ baseurl }}page={{ pagenum }}">{{ pagenum }}</a>
                    {% else %}
                        <b>{{ page }}</b>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {# Display right arrows #}
            {% if page*countperpage < sharecount %}
                <a href="{{  baseurl }}page={{ page+1 }}">▶</a>
                <a href="{{  baseurl }}page={{ maxpagenum }}">▶▶</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}