{% extends "bootstrap/base.html" %}
{% block title %}Budding Investors{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}
{% block content %}
<div  class="container-fluid" id="registration-container">
    <div class="row">
        <div id="registration-header" class="col-xs-12"></div>
        <div id="registration-content-logo" class="col-md-4">
            <img src="{{url_for('static', filename='images/tmplogo.png')}}" 
            alt="Budding Investors" height="auto" width="auto" class="reg-logo">
        </div>
        <div id="registration-content-form" class="col-md-8">
                <form action="" method="POST" class="registration-form">
                    <h1>Create your account</h1>
                        {{ form.hidden_tag() }}
                        {% include "messageblock.html" %}
                        
                
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                {{ form.username.label }}
                                <br>
                                {{ form.username() }}
                            </div>
                            <div>
                                {{ form.password.label }}
                                <br>
                                {{ form.password() }}
                            </div>
                            <div>
                                {{ form.fname.label }}
                                <br>
                                {{ form.fname() }}
                            </div>
                            <div>
                                {{ form.lname.label }}
                                <br>
                                {{ form.lname() }}
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan=3>Date of birth</th>
                                        </tr>
                                        <tr>
                                            <td>Day</td>
                                            <td>Month</td>
                                            <td>Year</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ form.bday() }}</td>
                                            <td>{{ form.bmonth() }}</td>
                                            <td>{{ form.byear() }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                {{ form.email.label }}
                                <br>
                                {{ form.email() }}
                            </div>
                            <div>
                                {{ form.gender.label }}
                                <br>
                                {{ form.gender() }}
                            </div>

                        </div>
                    </div>
                    <div>{{ form.submit() }}</div>
                </form>
                
        </div>
        <div id="registration-footer" class="col-xs-12"></div>
    </div>
</div>
    
{% endblock %}