{% extends "layout.html" %}
{% block content %}
<div id="share-body" class="container">
    {% include "messageblock.html" %}
    {# TODO: Format information better #}
    <h2>{{ share.fullname }} ({{ share.issuerID }})</h2>
    <h3>{{ share.industrysector }}</h3>
    <p>{{ share.description }}</p>
    <p>Current price: {{ share.currentprice }}</p>
    <p>Change $: ${{ share.daychangeprice }}</p>
    <p>Change %: {{ share.daychangepercent }}%</p>
    <p>Day High: {{ share.daypricehigh }}</p>
    <p>Day Low: {{ share.daypricelow }}</p>
    <p>Day Volume: {{ share.dayvolume }}</p>
    <button name="{{ share.issuerID }}" onclick="SetCompanyValue(this.name, 'buysharecode')" type="button" class="btn btn-success" data-toggle="modal" data-target="#buy-modal">Buy</button>
    <button name="{{ share.issuerID }}" onclick="SetCompanyValue(this.name, 'sellsharecode')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#sell-modal">Sell</button>
    {% if transactions %}
        <h2>Your transactions</h2>
        <table id="transaction-table" class="table sortable-table">
            <thead>
                <tr>
                    {# Defnine orderable headings #}
                    {% set headings = [
                        ("Timestamp", "datetime", "desc"),
                        ("Type", "transtype", "asc"),
                        ("Quantity", "quantity", "desc"),
                        ("Transaction value", "totaltransval", "desc")
                    ] -%}
                    {# Get order varaibles from get arguments #}
                    {% set orderby = request.args.get("orderby") %}
                    {% set order = request.args.get("order") %}
                    {# Define symbols to specify ordering #}
                    {% set ascarrow = " ▲" %}
                    {% set descarrow = " ▼" %}
                    {# Display each heading in headings list #}
                    {% for heading, fieldname, defaultorder in headings %}
                    <th>
                        {% if orderby == fieldname and order == "asc" %}
                            {% set fieldorder = "desc" %}
                        {% elif orderby == fieldname and order == "desc" %}
                            {% set fieldorder = "asc" %}
                        {% else %}
                            {% set fieldorder = defaultorder %}
                        {% endif %}
                        <a href="{{ url_for('main.share', issuerID=share.issuerID) }}?orderby={{ fieldname }}&order={{ fieldorder }}">
                            {{ heading }}
                            {{ ascarrow if orderby == fieldname and order == "asc" }}
                            {{ descarrow if orderby == fieldname and order == "desc" }}
                        </a>
                    </th>
                    {% endfor %}
                <tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.datetime }}</td>
                        {% if transaction.transtype == "B" %}
                        <td>Purchase</td>
                        <td class="text-success">+{{ transaction.quantity }}</td>
                        <td class="text-danger">${{ transaction.totaltransval|round(2) }}</td>
                        {% elif transaction.transtype == "S" %}
                        <td>Sale</td>
                        <td class="text-danger">-{{ transaction.quantity }}</td>
                        <td class="text-success">${{ transaction.totaltransval|round(2) }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {# Get the current page #}
            {% if request.args.get('page') %}
                {% set page = request.args.get('page')|int %}
            {% else %}
                {% set page = 1 %}
            {% endif %}
            {# Detremine the base url for each link#}
            {% if orderby and order %}
                {% set baseurl = url_for('main.share', issuerID=share.issuerID)+"?orderby="+orderby+"&order="+order+"&" %}
            {% else %}
                {% set baseurl = url_for('main.share', issuerID=share.issuerID)+"?" %}
            {% endif %}
            {# Calculate max number of pages #}
            {% set maxpagenum = (transcount/countperpage)|round(method="ceil")|int %}
            {# Display left arrows #}
            {% if page > 1 %}
                <a href="{{ baseurl }}page=1">◀◀</a>
                <a href="{{ baseurl }}page={{ page-1 }}">◀</a>
            {% endif %}
            {# Display page numbers #}
            {% for pagenum in range(page-3, page+3) %}
                {% if pagenum >= 1 and pagenum <= maxpagenum %}
                    {% if pagenum != page %}
                        <a href="{{ baseurl }}page={{ pagenum }}">{{ pagenum }}</a>
                    {% else %}
                        <b>{{ page }}</b>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {# Display right arrows #}
            {% if page*countperpage < transcount %}
                <a href="{{  baseurl }}page={{ page+1 }}">▶</a>
                <a href="{{  baseurl }}page={{ maxpagenum }}">▶▶</a>
            {% endif %}
        </div>
    {% endif %}
    <canvas id="shareprice-history"></canvas>
    <div class="container">
        <button id="price-graph-day" onclick="UpdatePriceGraph(1)" type="button">Day</button>
        <button id="price-graph-week" onclick="UpdatePriceGraph(7)" type="button">Week</button>
        <button id="price-graph-month" onclick="UpdatePriceGraph(31)" type="button">Month</button>
        <button id="price-graph-year" onclick="UpdatePriceGraph(365)" type="button">Year</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    var pricegraphdata = {
        datasets: [{
            label: ["{{ share.fullname }}"],
            data: [],
        /*
        backgroundColor: [
            'rgba(255, 255, 255, 0.8)'
        ],*/
        borderColor: [
            'rgba(255,99,132,1)'
        ],
        pointRadius: 5,
        pointBorderColor: 'rgba(0, 0, 0, 0.8)',
        pointStyle:'circles'
        }]
    };
    var pricegraphoptions = {
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    unit: 'hour',
                    round: 'hour',
                    tooltipFormat: "h:mm:ss a",
                    displayFormats: {
                        hour: 'MMM D, h:mm A'
                    }
                }
            }]
        }
    };
    // Define price graph
    var pricegraph = null;
    /** Load initial price graph data **/
    window.onload = function() {
        var ctx = document.getElementById("shareprice-history").getContext("2d");
        pricegraph = new Chart(ctx, {
            type: 'line',
            data:  pricegraphdata,
            options: pricegraphoptions,
        });
        UpdatePriceGraph(1);
    }
    /** Update price graph with specfied range **/
    function UpdatePriceGraph(days)
    {
        $.ajax({
            url: "{{ url_for('main.sharepricehistorydata') }}",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                issuerID: "{{ share.issuerID }}",
                days: days
            })
        }).done(function(data){
            // Parse data into graph data
            var pricegraphdata = new Array();
            for(i = 0; i < data.length; i++){
                pricegraphdata.push({ x: data[i].recordtime, y: data[i].price });
            }
            // Update price graph data
            pricegraph.data.datasets[0].data = pricegraphdata;
            pricegraph.update();
        }).fail(function(xhr, textStatus, errorThrown){
            alert("Price graph could not be updated:"+errorThrown)
        });
    }
</script>


{% include "sharemodals.html" %}
{% endblock %}